<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="DevelopmentPISEntities" connectionString="metadata=res://*/DevelopmentEntity.csdl|res://*/DevelopmentEntity.ssdl|res://*/DevelopmentEntity.msl;provider=System.Data.SqlClient;provider connection string='Server=tcp:v812xrqz2w.database.windows.net,1433;Database=testingpis;User ID=AdminOL4RENT@v812xrqz2w;Password=Grupo5TSI;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>