<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DevelopmentPISEntities" connectionString="metadata=res://*/DevelopmentEntity.csdl|res://*/DevelopmentEntity.ssdl|res://*/DevelopmentEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v812xrqz2w.database.windows.net,1433;initial catalog=serverdevelopmentpis;user id=AdminOL4RENT;password=Grupo5TSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>