<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DevelopmentPISEntities" connectionString="metadata=res://*/DevelopmentEntity.csdl|res://*/DevelopmentEntity.ssdl|res://*/DevelopmentEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v812xrqz2w.database.windows.net,1433;initial catalog=serverdevelopmentpis;user id=AdminOL4RENT;password=Grupo5TSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>